body::before {
    display:block;
    content: '';
    height: 60px;
}

.background {
    background-color: rgb(235, 235, 235);
}

@media (max-width: 768px) {
    .fundamentalsimg,
    .versionimg {
        order: -1;
    }
}

